
# Vivado Project Files
# ====================
Kria_FFT/
*.xpr
*.log
*.jou
*.pb
*.db
*.wdb
*.str
*.zip
*.tar.gz
*.tmp
*.bak
*.dcp
*.bit
*.bin
*.hdf
*.xsa
*.mcs
*.prm
*.o
*.exe
*.dll

# Vivado Directories
# ------------------
.Xil/
.ip_user_files/
.cache/
.hw/
.sim/
.runs/
.gen/
.srcs/
.internal/

# Simulation Files
# ----------------
sim/
!sim/*.sv
!sim/*.v
!sim/tb_system.sv

# Vitis Files
# -----------
vitis/
!vitis/*.c
!vitis/*.h
!vitis/*.tcl
!vitis/src/

# OS Specific
# -----------
.DS_Store
Thumbs.db
